.icons-sprite, .icons-account, .icons-cart, .icons-checkout, .icons-login, .icons-next, .sidebar__newtheme .action .next, .icons-nextActive, .sidebar__newtheme .action .next.active, .icons-previous, .sidebar__newtheme .action .previous, .icons-previousActive, .sidebar__newtheme .action .previous.active {
  background-image: url('../images/icons-s12a9ce20a0.png');
  background-repeat: no-repeat;
}

.icons-account {
  background-position: 0 0;
  height: 13px;
  width: 11px;
}

.icons-cart {
  background-position: 0 -23px;
  height: 11px;
  width: 11px;
}

.icons-checkout {
  background-position: 0 -44px;
  height: 7px;
  width: 9px;
}

.icons-login {
  background-position: 0 -61px;
  height: 8px;
  width: 9px;
}

.icons-next, .sidebar__newtheme .action .next {
  background-position: 0 -79px;
  height: 22px;
  width: 22px;
}

.icons-nextActive, .sidebar__newtheme .action .next.active {
  background-position: 0 -111px;
  height: 22px;
  width: 22px;
}

.icons-previous, .sidebar__newtheme .action .previous {
  background-position: 0 -143px;
  height: 22px;
  width: 22px;
}

.icons-previousActive, .sidebar__newtheme .action .previous.active {
  background-position: 0 -175px;
  height: 22px;
  width: 22px;
}

/*@charset "UTF-8";

$font: 12px/1.55 "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;

body,
button,
input,
select,
table,
textarea {
    font: $font;
    color: #686460;
}*/
.header {
  width: 980px;
  margin: 0 auto;
}
.header__top {
  text-align: right;
}
.header__top li {
  display: inline-block;
}
.header__top li .icons-account {
  margin-top: 2px;
}
.header__top li .icons-cart {
  margin-top: 2px;
}
.header__top li .icons-checkout {
  margin-top: 5px;
}
.header__top li .icons-login {
  margin-top: 5px;
}
.header__top li a {
  color: #667d95;
}
.header__search {
  float: right;
  width: 25%;
  height: 50px;
  margin-top: 17px;
}
.header__banner {
  display: inline-block;
}

.sidebar__newtheme .title {
  text-align: right;
}
.sidebar__newtheme .title strong {
  float: left;
}
.sidebar__newtheme .action li {
  display: inline-block;
}

.main-tabs {
  margin: 0 0 3px;
  border-bottom: 3px solid #414d5d;
}

.main-tabs li {
  display: inline;
  margin-right: -10px;
}

.main-tabs li.active a span {
  background-position: 0 -70px;
}

.main-tabs li a span {
  background: url(../images/bkg_main-tabs.png) 0 0 no-repeat;
  padding: 0 0 0 15px;
  display: inline-block;
  line-height: 35px;
  height: 35px;
}

.main-tabs li a span span {
  background-position: 100% -35px;
  padding: 0 30px 0 0;
}

.main-tabs li.active a {
  z-index: 11;
}

.main-tabs li.active a span span {
  background-position: 100% -105px;
}

html,
body {
  color: #686460;
}

.page {
  /*background: url(../images/bg-page.png) center top no-repeat;*/
}

i[class*="icons"] {
  display: inline-block;
  vertical-align: text-top;
}
