.icons-sprite, .icons-account, .icons-cart, .icons-checkout, .icons-login, .icons-more, .sidebar__newtheme__list li .screenshots-link:before, .icons-next, .sidebar__newtheme .action .next, .icons-nextActive, .sidebar__newtheme .action .next.active, .icons-previous, .sidebar__newtheme .action .previous, .icons-previousActive, .sidebar__newtheme .action .previous.active, .icons-theme-detail, .sidebar__newtheme__list li .details-link:before {
  background-image: url('../images/icons-sfcbb45651c.png');
  background-repeat: no-repeat;
}

.icons-account {
  background-position: 0 0;
  height: 13px;
  width: 11px;
}

.icons-cart {
  background-position: 0 -23px;
  height: 11px;
  width: 11px;
}

.icons-checkout {
  background-position: 0 -44px;
  height: 7px;
  width: 9px;
}

.icons-login {
  background-position: 0 -61px;
  height: 8px;
  width: 9px;
}

.icons-more, .sidebar__newtheme__list li .screenshots-link:before {
  background-position: 0 -79px;
  height: 35px;
  width: 34px;
}

.icons-next, .sidebar__newtheme .action .next {
  background-position: 0 -124px;
  height: 22px;
  width: 22px;
}

.icons-nextActive, .sidebar__newtheme .action .next.active {
  background-position: 0 -156px;
  height: 22px;
  width: 22px;
}

.icons-previous, .sidebar__newtheme .action .previous {
  background-position: 0 -188px;
  height: 22px;
  width: 22px;
}

.icons-previousActive, .sidebar__newtheme .action .previous.active {
  background-position: 0 -220px;
  height: 22px;
  width: 22px;
}

.icons-theme-detail, .sidebar__newtheme__list li .details-link:before {
  background-position: 0 -252px;
  height: 34px;
  width: 34px;
}

/*@charset "UTF-8";

$font: 12px/1.55 "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;

body,
button,
input,
select,
table,
textarea {
    font: $font;
    color: #686460;
}*/
.header {
  width: 980px;
  margin: 0 auto;
}
.header__nav {
  background: #434242;
  padding: 17px 0;
  border-radius: 5px;
}
.header__nav .nav-primary {
  margin-top: 0;
}
.header__nav .nav-primary li a {
  color: #dfd6c7;
}
.header__nav .nav-primary li a:hover {
  color: #ffcc65;
}
.header__nav .nav-primary li.parent .level0 {
  background: #434242;
  border: 0;
}
.header__nav .nav-primary li.parent .level0 a {
  color: #dfd6c7;
}
.header__nav .nav-primary li.parent .level0 a:hover {
  color: #ffcc65;
}
.header__nav .nav-primary li.active > a {
  color: #ffcc65;
}
.header__top {
  text-align: right;
}
.header__top li {
  display: inline-block;
}
.header__top li .icons-account {
  margin-top: 2px;
}
.header__top li .icons-cart {
  margin-top: 2px;
}
.header__top li .icons-checkout {
  margin-top: 5px;
}
.header__top li .icons-login {
  margin-top: 5px;
}
.header__top li a {
  color: #667d95;
}
.header__search {
  float: right;
  width: 25%;
  height: 50px;
  margin-top: 17px;
}
.header__banner {
  display: inline-block;
}

.global-site-notice.demo-notice {
  display: none;
}

.main {
  width: 980px;
  margin: 0 auto;
  padding: 15px 15px 0;
  background: #f0f0f0;
  border-radius: 5px;
}
.main .breadcrumbs {
  margin: 0 0 10px 0;
}
.main .breadcrumbs li {
  text-transform: none;
}

.sidebar__newtheme .title {
  text-align: right;
}
.sidebar__newtheme .title strong {
  float: left;
}
.sidebar__newtheme .action li {
  display: inline-block;
}
.sidebar__newtheme .action .next.active {
  cursor: pointer;
}
.sidebar__newtheme__list li {
  position: relative;
  display: none;
}
.sidebar__newtheme__list li:first-child {
  display: block;
}
.sidebar__newtheme__list li .product-name a {
  color: #414d5d;
  text-transform: none;
}
.sidebar__newtheme__list li .product-name a:hover {
  text-decoration: underline;
}
.sidebar__newtheme__list li .product-image {
  width: 100%;
  height: 286px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.sidebar__newtheme__list li .overlay {
  text-align: center;
  display: none;
  width: 100%;
  height: 286px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 30px;
}
.sidebar__newtheme__list li .overlay a {
  color: #fff;
  display: inline-block;
}
.sidebar__newtheme__list li .overlay .price {
  font-size: 36px;
  color: #fff;
}
.sidebar__newtheme__list li:hover .overlay {
  display: block;
}
.sidebar__newtheme__list li .details-link {
  margin-bottom: 28px;
}
.sidebar__newtheme__list li .details-link:before {
  content: ' ';
  display: block;
  margin-bottom: 3px;
  margin-left: 33px;
}
.sidebar__newtheme__list li .screenshots-link {
  margin-bottom: 25px;
}
.sidebar__newtheme__list li .screenshots-link:before {
  content: ' ';
  display: block;
  margin-bottom: 3px;
  margin-left: 45px;
}

.main-tabs {
  margin: 0 0 3px;
  border-bottom: 3px solid #414d5d;
}

.main-tabs li {
  display: inline;
  margin-right: -10px;
}

.main-tabs li.active a span {
  background-position: 0 -70px;
}

.main-tabs li a span {
  background: url(../images/bkg_main-tabs.png) 0 0 no-repeat;
  padding: 0 0 0 15px;
  display: inline-block;
  line-height: 35px;
  height: 35px;
}

.main-tabs li a span span {
  background-position: 100% -35px;
  padding: 0 30px 0 0;
}

.main-tabs li.active a {
  z-index: 11;
}

.main-tabs li.active a span span {
  background-position: 100% -105px;
}

.link-wishlist, .add-to-links li a.link-wishlist,
.add-to-links li a.link-compare,
button.button.btn-cart {
  background: url(../images/icons.png);
  float: left;
  margin-right: 5px;
  border-color: #a4d0d9;
  color: #ffffff;
  background-color: #a4d0d9;
  font: 500 13px/1.35 Raleway,Arial,Helvetica,sans-serif;
}
.link-wishlist:hover, .add-to-links li a.link-wishlist:hover,
.add-to-links li a.link-compare:hover,
button.button.btn-cart:hover {
  color: #ffffff;
  background-color: #ffffff;
}

.block-related.block .block-content li.item .link-wishlist, .product-view-detail button.button.btn-cart span span, .four_ads a, .ui-slider-tabs-list li a, .add-to-links li a, button.button.btn-cart, .inner_links .list-inline li a, .inner_links .list-unstyled li, .inner_links .list-unstyled a {
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.main_container li.item .product-shop .actions-cart .button, .main_container li.item .product-shop .actions-cart .add-to-links li {
  display: block;
  float: none;
  margin-right: 0;
  margin-bottom: 5px;
}

.actions-cart .actions button.btn-cart, .link-wishlist, .add-to-links li a, .block-related.block .block-content li.item .link-wishlist {
  color: #ffffff;
  background-color: #a4d0d9;
  border: 0 none;
}

.link-wishlist, .add-to-links li a, .block-wishlist .link-cart, button.button.btn-cart span, .icon {
  display: inline-block;
  text-indent: -99999px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  float: left;
  font-weight: normal;
  text-transform: capitalize;
  text-transform: none;
}

.block-wishlist .link-cart, button.button.btn-cart {
  width: 30px;
  height: 30px;
  background-position: 6px -431px;
  margin-bottom: 5px;
}
.block-wishlist .link-cart:hover, button.button.btn-cart:hover {
  background-position: 6px -461px;
}

.link-wishlist, .add-to-links li a.link-wishlist {
  width: 30px;
  height: 30px;
  background-position: -47px -431px;
  margin-bottom: 5px;
}
.link-wishlist:hover, .add-to-links li a.link-wishlist:hover {
  background-position: -47px -461px;
}

.add-to-links li a.link-compare {
  width: 30px;
  height: 30px;
  background-position: -97px -431px;
}
.add-to-links li a.link-compare:hover {
  background-position: -98px -461px;
}

.product-name a {
  color: #686868;
  font-size: 110%;
  font-weight: normal;
  text-transform: none;
}

.dashboard .number:hover,
.product-name a:hover,
.dashboard .number:focus,
.product-name a:focus,
.dashboard .number:active,
.product-name a:active {
  color: #abd4dc;
  text-decoration: none;
}

.products-grid li.item {
  color: #666666;
  border-color: transparent;
  background-color: #ffffff;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -transition: all 700ms ease;
}
.products-grid li.item:hover {
  box-shadow: 0 0 5px 0 #c4c4c3;
  -moz-box-shadow: 0 0 5px 0 #c4c4c3;
  -webkit-box-shadow: 0 0 5px 0 #c4c4c3;
}
.products-grid li.item .product-shop {
  padding: 0px 10px 0px;
  clear: both;
  overflow: hidden;
  text-align: center;
}
.products-grid .product-item {
  position: relative;
}
.products-grid .product-item:hover .actions-cart,
.products-grid .product-item:hover .quick-view {
  display: block;
}
.products-grid .product-item .price-box .old-price, .products-grid .product-item .price-box .special-price {
  display: block;
}
.products-grid .product-item .price {
  color: #686868;
  font: normal 14px/1.35 Raleway,Arial,Helvetica,sans-serif;
}
.products-grid .product-item .productlabels_icons {
  position: absolute;
  top: 10px;
  left: 10px;
}
.products-grid .product-item .productlabels_icons .label {
  color: #ffffff;
  font: normal 16px/1.35 Raleway,Arial,Helvetica,sans-serif;
  font-weight: 500;
  padding: 10px 0 0;
  background: url(../images/productlabel_icons.png) 0 0 no-repeat;
  width: 51px;
  height: 51px;
  display: block;
  margin-bottom: 5px;
}
.products-grid .product-item .productlabels_icons .label > span {
  padding: 5px 0;
  display: block;
  text-align: center;
}
.products-grid .product-item .productlabels_icons .new {
  background-position: -213px 0;
}
.products-grid .product-item .productlabels_icons .hot {
  background-position: -213px -128px;
}
.products-grid .product-item .productlabels_icons .special {
  background-position: -213px -63px;
}
.products-grid .product-item .actions-cart {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  display: none;
}
.products-grid .product-item .product-image {
  margin: 0 0 18px;
  display: block;
}
.products-grid .product-item .product-image:hover {
  border-color: transparent;
}
.products-grid .product-item .quick-view {
  position: absolute;
  color: #ffffff;
  background-color: #a4d0d9;
  text-transform: uppercase;
  display: none;
  width: 100%;
  left: 0;
  top: 239px;
}
.products-grid .product-item .quick-view:hover {
  cursor: pointer;
}
.products-grid .product-item .quick-view span {
  display: inline-block;
  color: #fff;
  padding: 7px 10px 7px 30px;
  background: url(../images/icons.png) -432px -9px no-repeat;
}

html,
body {
  color: #686460;
}

.page {
  /*background: url(../images/bg-page.png) center top no-repeat;*/
}

i[class*="icons"] {
  display: inline-block;
  vertical-align: text-top;
}
